<div class="gallery">
    
    <img class="gallery__activeImage" ng-src="{{activeImgUrl}}" alt="" />
    
    <button class="magnify link" role="button">
        <img class="magnify__img" src="./img/magnify.png" /> view larger
    </button>

    <div class="gallery__img-picker">
        <button class="arrow arrow--left link" ng-click="prevImage()" ng-show="activeImgIndex > 0"><img src="./img/arrow-left.png" /></button>

        <div class="gallery__viewport">
            <div class="gallery__highlight-box"></div>
            <ul class="gallery__thumbnails">
                <li class="small-image pull-left gallery__thumbnail" ng-repeat="image in images">
                    <img class="gallery__thumbnail-img" ng-src="{{image}}" />
                </li>
            </ul>
        </div>

        <button class="arrow arrow--right link" ng-click="nextImage()" ng-show="activeImgIndex < imageCount -1"><img src="./img/arrow-right.png" /></button>
    </div>

</div>
