.btn-primary {
	display: inline-block;
  width:240px;
  height:40px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 18px Helvetica, sans-serif;
  color:#fff;
  @include border-radius(3px);
  @include box-shadow(0, 1px, 2px, #999);
}

.btn-primary--red {
	border: solid 1px #CC0000;
  @include gradient(#e16969,#cc0000);
  &:hover{
    @include gradient(#cc0000,#e16969);
  }
}

.btn-primary--black{
	border: solid 1px #000;
  @include gradient(#6b6b6b,#000);
  &:hover{
    @include gradient(#000, #6b6b6b);
  }
}

.btn-secondary{
    @include border-radius(2px);
    display: inline-block;
    height: 25px;
    background: #f3f3f3;
    border: none;
    padding-top:3px;
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    color: #333;
    cursor: pointer;

    &--sm{
    	width:150px;
    }
    &--med{
    	width:155px;
    }
    &--lg{
    	width:175px;
    }
}

.btn-quantity {
  display:inline-block;
  background-color: #ccc;
  width: 30px;
  height: 30px;
  @include border-radius(15px);
  color: white;
  font-family: Helvetica;
  font-size:30px;
  position:relative;
  top: 5px;
  cursor: pointer;
}
.btn-quantity__symbol--add{
	position:absolute;
    top:-5px;
    left:6px;
 }

.btn-quantity__symbol--subtract{
  	position:absolute;
    top:-5px;
    left:10px;
 }

.button-reset{
  margin:0;
  padding:0;
  border:0;
  // background: transparent;
  // font-size: inherit;
  outline:none;
}
.button-reset:focus{
  outline:#666 dashed 1px;
}
