$break-small: 700px;

$mobile: 'only screen and (max-width : $break-small)';

a{
	text-decoration: none;
}
.flt-rt{
	float:right;
}

.link{
	margin:0;
	padding:0;
	border:0;
	background: transparent;
	font-size: inherit;
	outline:none;
}