// gallery

.gallery{
    
    text-align: center;
}
    .gallery__activeImage{
        width: 400px;
        height: 400px;
    }

    .gallery__img-picker{
        position:relative;
    }

    .magnify{
        font{
            family: Helvetica;
            weight: 400;
            size: 14px;
        }
        color: #666;
        margin: 75px 0 15px;
        background:transparent;
        @media #{$mobile}{
            visibility : hidden;
        }
    }
        .magnify__img{
            vertical-align: middle;
        }
    
    
    .gallery__viewport{
        width: 225px;
        height: 65px;
        overflow: hidden;
        margin: 0 auto;
        position:relative;

        .gallery__highlight-box{
            width: 63px;
            height:63px;
            border: 1px solid #999;
            border-radius: 2px;
            position: absolute;
            left: 78px;
            z-index: 1;
            background:transparent;
        }
    }

    .gallery__thumbnails{
        width: 1000px;
        position:absolute;
        text-align: left;
    }

    .gallery__thumbnail{
        list-style: none;
        display: inline-block;
        width: 65px;
        height: 65px;
        margin: 0 5px;
    }
        .gallery__thumbnail-img{
            width: 65px;
            height: 65px;
        }
    

    .arrow{
        width: 65px;
        height:65px;
        position: absolute;
        top: 0;
        background:transparent;

        &--left{
            left: 50px;
        }
    
        &--right{
            right:50px;
        }
     }


